.app-container {
  max-width: 720px;
  margin: 0 auto; 
  padding: 2rem;
  width: 100%;
}

header {
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #444;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  font-size: 1.8rem;
  margin: 0;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav a {
  font-weight: 500;
  color: #a9a9a9;
  text-decoration: inherit;
  transition: color 0.25s;
  font-size: 1rem;
}

header nav a:hover {
  color: #747bff;
}